---
import Header from "../components/Header.astro";
// import {Footer1} from "../../devlink/Footer1";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
// Import Webflow DevLink base CSS so Webflow components render correctly
import "../../devlink/global.css";
import { DevLinkProvider } from "../../devlink/DevLinkProvider";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <DevLinkProvider client:load>
      <Header>
        <slot slot="pageHeader" name="pageHeader" />
      </Header>
      <main>
        <slot />
      </main>
      <!-- <Footer1 client:load /> -->
    </DevLinkProvider>
  </body>
</html>
